# Dependencies
node_modules/
**/node_modules/

# Production / Build output
dist/
build/
**/dist/

# Logs
*.log
logs/

# Environment variables
.env
.env.local

# OS & Editor files
.DS_Store
.vscode/
.idea/
